/* Advanced Text Media & Styling  */

/* google fonts  */

/* google se font family use karna jo font apke sysytem me na ho.  */

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: Poppins;
}

/* text shadow  */

h1{
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.9);
}

/* text transform  */

h1{
    text-transform: uppercase;
}

/* text spacing  */

h1{
    word-spacing: 5px;
    letter-spacing: 2px;
}

/* Gradients  */

/* color ka mixture banana  */

/* linear-gradient > color ek straight line me move krenge  */

/* radial gradient > color ek circle me move krenge */

body{
    /* background: linear-gradient(wheat, rgb(202, 137, 16)); */
    background: linear-gradient(to right,wheat, rgb(202, 137, 16));
}

/* linear > jab soft header bg chaiye ho
linear > ya ek modern hero section chaiye ho */
/* linear > ya phr apko ek stylish button chaiye ho  */
/* linear > ye color apko left to right ya right to left karwana  */


/* radial > jab apko center ko spotlight deni ho  */


/* rounder corner  */

/* border radius ki madad se ap corner ko rounded ya curve bana skte ho  */

/* bigger boxes > small radius */
/* small boxes or elemet > small radius */
/* to make circle > radius 50%  */

/* box shadow  */

/* box shadow bhi same text shadow ki tarah hai  */

div{
    background-color: antiquewhite;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.9);
}